:root {
    --color-ready: rgb(54, 205, 54);
    --color-ready-faded-10: rgba(54, 205, 54, 0.1);
    --color-ready-faded-25: rgba(54, 205, 54, 0.25);
}

body {
    background-color: rgba(0, 0, 0, 0.95);

    &.embed {
        // Used for embedding via iframe - e.g. transparent background
        background-color: unset;
    }
}

// Custom icons

@mixin customIcon($iconFilename) {
    mask-image: url('./assets/images/' + $iconFilename);
}

.icon-construct::after { @include customIcon('icon-construct.png'); }
.icon-core-sample::after { @include customIcon('icon-core-sample.png'); }
.icon-deconstruct::after { @include customIcon('icon-deconstruct.png'); }
.icon-move-horizontal::after { @include customIcon('icon-move-horizontal.svg'); }
.icon-move-vertical::after { @include customIcon('icon-move-horizontal.svg'); transform: rotate(90deg); }
.icon-ship-right::after { @include customIcon('icon-ship.svg'); }
.icon-ship-down::after { @include customIcon('icon-ship.svg'); transform: rotate(90deg); }
.icon-ship-up::after { @include customIcon('icon-ship.svg'); transform: rotate(-90deg); }
.icon-x::after { @include customIcon('icon-x.svg'); }

@keyframes pulse-text {
	50% { color: var(--color-gray-dark); };
}

.text-pulse {
	animation: pulse-text 2s infinite;
}

.text-highlight {
    color: var(--color-highlight);
}

.text-warning {
    color: var(--color-warning);
}

.faded {
    opacity: 0.5;
}

.hidden {
    display: none !important;
}

.root-section {
    // Margin between the root-level sections and the in-game scrollbar
    margin-right: 20px;
    position: relative;

    &:not(:first-child) {
        margin-top: 50px;
    }

    .section-title-sidebar {
        display: flex;
        gap: 25px;
        line-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.primary-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;

    button {
        align-items: center;
        display: flex;
        gap: 5px;
        white-space: nowrap;

        .icon-round {
            transition: inherit;

            &::after {
                background-color: var(--color-highlight);
                transition: inherit;
            }
        }

        &.active {
            background-color: var(--color-highlight);
            color: white;
        }

        &:hover,
        &:active,
        &.active {
            .icon-round {
                background-color: transparent;

                &::after {
                    background-color: white;
                }
            }
        }
    }
}

.active-crew-name::before,
.active-crew-name::after {
    content: '"';
}

#manage-crews {
    #active-crew {
        &.ready {
            color: var(--color-ready);
        }

        &:not(.ready):hover {
            &::after {
                // Tooltip for crew-action
                background-color: black;
                bottom: -30px; // match line-height
                color: white;
                content: attr(data-crew-action-text);
                filter: drop-shadow(0 0 10px black);
                font-size: 14px;
                line-height: 30px;
                position: absolute;
                padding: 0 10px;
                right: 0;
                white-space: nowrap;
                z-index: 1;
            }
        }
    }

    #active-asteroid,
    #active-base {
        opacity: 0.5;

        .hover-detail {
            display: none;
        }

        &:hover {
            opacity: 1;

            .hover-detail {
                display: unset;
            }
        }
    }

    .crew-panel {
        background-color: var(--color-black-faded-50);
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        padding: 20px;

        button:not(.no-margin) {
            margin-left: 20px;
        }
    }
}

#plan-actions {
    #action-setup {
        background-color: var(--color-black-faded-50);
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        padding: 20px;
    }
}

#manage-actions {
    #action-groups {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 25px;

        .action-group {
            .action-group-title {
                font-weight: bold;
                line-height: 60px;
                padding-left: 40px;
            }

            &:hover .action-group-title {
                color: white;
            }
        }
    }
}

ul.list-expanding-items {
    background-color: var(--color-black-faded-50);

    &.list-expanded {
        li,
        li:hover {
            height: unset;
            max-height: unset;
        }
    }

    &.hide-action-types {
        .action-type-text {
            display: none;
        }
    }

    &.dragging-wrapper {
        background-color: rgba(255, 255, 255, 0.05);
        padding-bottom: 10px; // ensure some space for dropping the [draggable] action at the end of the list
    }

    li {
        @mixin listItemActive() {
            .item-title {
                background-image: linear-gradient(90deg, var(--color-highlight), transparent);
                color: white !important;

                .icon-round::after {
                    background-color: white !important;
                }
            }

            .item-expand {
                color: inherit;

                .action-details {
                    --color-leaderline-start: var(--color-warning);
                    --color-leaderline-end: var(--color-highlight);
                }

                .subactions {
                    color: var(--color-highlight);

                    .icon-button {
                        border-color: var(--color-highlight);

                        &:active,
                        &::after {
                            background-color: var(--color-highlight);
                        }

                        &:hover {
                            background-image: linear-gradient(120deg, var(--color-highlight-faded-10), var(--color-highlight-faded-25));
                        }
                    }
                }
            }
        }

        @mixin listItemActiveAndReady() {
            .item-title {
                background-image: linear-gradient(90deg, var(--color-ready), transparent);
            }
    
            .item-expand {
                .action-details {
                    --color-leaderline-start: var(--color-warning);
                    --color-leaderline-end: var(--color-ready);
                }
    
                .subactions {
                    color: var(--color-ready);
    
                    .icon-button {
                        border-color: var(--color-ready);
    
                        &:active,
                        &::after {
                            background-color: var(--color-ready);
                        }
    
                        &:hover {
                            background-image: linear-gradient(120deg, var(--color-ready-faded-10), var(--color-ready-faded-25));
                        }
                    }
                }
            }
        }

        padding-left: 0;

        .item-title {
            gap: 5px;

            .icon-round {
                margin-left: 5px;
                min-width: 30px; // required for long titles

                &:hover {
                    background-color: transparent;
                }
            }

            .item-title-text {
                --max-lines: 2;
                display: -webkit-box;
                line-height: 1.2; // minimum value to avoid single-line texts being truncated vertically
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: var(--max-lines);
            }

            .timer-compact {
                flex-grow: 1;
                padding-left: 5px;
                text-align: right;
            }
        }

        .item-expand {
            color: var(--color-gray-dark);
            // Height of "li:hover" minus height of ".item-title"
            height: calc(2.5 * var(--list-item-height));
            line-height: 1.25;
            padding-top: 10px;
            position: relative;

            .action-details {
                --color-leaderline-start: var(--color-gray-dark);
                --color-leaderline-end: var(--color-gray-dark);

                .value {
                    // Margin and padding correlated with Leader Line
                    margin-left: 30px;
                    overflow: hidden;
                    padding-left: 10px;
                    text-overflow: ellipsis;

                    &.value-destination {
                        // Compensate for misaligned startPlug and endPlug of Leader Line
                        margin-left: 33px;
                        padding-left: 7px;
                    }
                }

                .leader-line {
                    left: 0 !important;
                    top: 15px !important;
                }
            }

            .subactions {
                align-items: center;
                bottom: 10px;
                display: flex;
                gap: 10px;
                height: var(--list-item-height);
                justify-content: space-between;
                left: 10px;
                position: absolute;
                right: 0;

                .subactions-cell {
                    align-items: center;
                    display: flex;
                    gap: 10px;

                    .icon-button {
                        border-color: var(--color-gray-dark);

                        &:active,
                        &::after {
                            background-color: var(--color-gray-dark);
                        }

                        &.icon-tooltip {
                            position: relative;

                            &::before {
                                //// TO DO: use in-game styling for tooltips?
                                align-items: center;
                                background-color: black;
                                bottom: 0;
                                color: white;
                                display: flex;
                                filter: drop-shadow(0 0 10px black);
                                left: 40px;
                                padding: 0 10px;
                                position: absolute;
                                top: 0;
                                z-index: 1;
                            }

                            &--drag-in-queue:hover::before { content: 'Drag in queue'; }
                            &--move-to-top:hover::before { content: 'Move to top'; }
                        }

                        &.icon-draggable {
                            cursor: move;
                        }    
                    }
                }
            }
        }

        &:first-child {
            .hidden-if-first-list-item {
                display: none;
            }
        }

        &:hover,
        &.highlight {
            @include listItemActive();
            height: calc(3.5 * var(--list-item-height));
            max-height: calc(3.5 * var(--list-item-height));
        }

        // Action ready
        &.ready {
            .item-title {
                color: var(--color-ready);
            }

            .item-title .icon-round::after {
                background-color: var(--color-ready);
            }

            .subactions-cell-hidden-if-ready {
                display: none !important;
            }

            &:hover {
                @include listItemActiveAndReady();
            }
        }

        // Action not ready
        &:not(.ready) {
            .subactions-cell-hidden-if-not-ready {
                display: none !important;
            }
        }

        &.animating {
            height: var(--this-height) !important;
            position: relative;
            transition-duration: var(--half-slide-duration);

            @keyframes fade-background {
                100% { background-color: transparent; border-color: transparent; };
            }

            &.fade-background {
                animation: fade-background var(--half-slide-duration) linear;
                animation-fill-mode: both;
            }

            @keyframes fade-out {
                100% { opacity: 0; };
            }

            &.fade-out {
                animation: fade-out var(--half-slide-duration) linear;
                animation-fill-mode: both;
            }

            &.slide-up {
                height: 0 !important; // animated based on "transition-duration" value
            }

            .slider {
                left: 0;
                padding: inherit;
                position: absolute;
                width: var(--this-width);

                @keyframes slide-right {
                    100% { left: var(--this-width); };
                }

                &.slide-right {
                    animation: slide-right var(--half-slide-duration) linear;
                    animation-fill-mode: both;
                }
            }
        }

        &.transition-flash {
            @include listItemActive();

            &.ready {
                @include listItemActiveAndReady();
            }

            @keyframes transition-flash {
                0% { opacity: 0; }
                25% { opacity: 1; }
                50% { opacity: 0; }
                75% { opacity: 1; }
            }

            animation: transition-flash var(--transition-flash-duration) linear;
        }
    }
}

#notifications {
    position: absolute;
    top: 65px;
    right: 5px;

    .notification-wrapper {
        padding-bottom: 15px;

        .notification {
            padding: 10px 30px 10px 20px;

            @keyframes flash-notification {
                0% { background-color: var(--color-highlight); }
            }

            @keyframes flash-warning {
                0% { background-color: var(--color-warning); }
            }

            &:not(.warning) {
                animation: flash-notification 600ms linear;
            }

            &.warning {
                animation: flash-warning 600ms linear;
            }
        }

        @keyframes close-notification {
            100% { height: 0; opacity: 0; padding-bottom: 0; }
        }

        &.closing {
            animation: close-notification var(--close-duration) linear;
        }
    }
}
