:root {
  --color-ready: rgb(54, 205, 54);
  --color-ready-faded-10: rgba(54, 205, 54, 0.1);
  --color-ready-faded-25: rgba(54, 205, 54, 0.25);
}

body {
  background-color: rgba(0, 0, 0, 0.95);
}
body.embed {
  background-color: unset;
}

.icon-construct::after {
  -webkit-mask-image: url("./assets/images/icon-construct.png");
          mask-image: url("./assets/images/icon-construct.png");
}

.icon-core-sample::after {
  -webkit-mask-image: url("./assets/images/icon-core-sample.png");
          mask-image: url("./assets/images/icon-core-sample.png");
}

.icon-deconstruct::after {
  -webkit-mask-image: url("./assets/images/icon-deconstruct.png");
          mask-image: url("./assets/images/icon-deconstruct.png");
}

.icon-ship-right::after {
  -webkit-mask-image: url("./assets/images/icon-ship.svg");
          mask-image: url("./assets/images/icon-ship.svg");
}

.icon-ship-down::after {
  -webkit-mask-image: url("./assets/images/icon-ship.svg");
          mask-image: url("./assets/images/icon-ship.svg");
  transform: rotate(90deg);
}

.icon-ship-up::after {
  -webkit-mask-image: url("./assets/images/icon-ship.svg");
          mask-image: url("./assets/images/icon-ship.svg");
  transform: rotate(-90deg);
}

.icon-x::after {
  -webkit-mask-image: url("./assets/images/icon-x.svg");
          mask-image: url("./assets/images/icon-x.svg");
}

@-webkit-keyframes pulse-text {
  50% {
    color: var(--color-gray-dark);
  }
}

@keyframes pulse-text {
  50% {
    color: var(--color-gray-dark);
  }
}
.text-pulse {
  -webkit-animation: pulse-text 2s infinite;
          animation: pulse-text 2s infinite;
}

.text-highlight {
  color: var(--color-highlight);
}

.text-warning {
  color: var(--color-warning);
}

.faded {
  opacity: 0.5;
}

.hidden {
  display: none !important;
}

.root-section {
  margin-right: 20px;
  position: relative;
}
.root-section:not(:first-child) {
  margin-top: 50px;
}
.root-section .section-title-sidebar {
  display: flex;
  gap: 25px;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.primary-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}
.primary-buttons button {
  align-items: center;
  display: flex;
  gap: 5px;
  white-space: nowrap;
}
.primary-buttons button .icon-round {
  transition: inherit;
}
.primary-buttons button .icon-round::after {
  background-color: var(--color-highlight);
  transition: inherit;
}
.primary-buttons button.active {
  background-color: var(--color-highlight);
  color: white;
}
.primary-buttons button:hover .icon-round, .primary-buttons button:active .icon-round, .primary-buttons button.active .icon-round {
  background-color: transparent;
}
.primary-buttons button:hover .icon-round::after, .primary-buttons button:active .icon-round::after, .primary-buttons button.active .icon-round::after {
  background-color: white;
}

.active-crew-name::before,
.active-crew-name::after {
  content: '"';
}

#manage-crews #active-crew.ready {
  color: var(--color-ready);
}
#manage-crews #active-asteroid,
#manage-crews #active-base {
  opacity: 0.5;
}
#manage-crews #active-asteroid .hover-detail,
#manage-crews #active-base .hover-detail {
  display: none;
}
#manage-crews #active-asteroid:hover,
#manage-crews #active-base:hover {
  opacity: 1;
}
#manage-crews #active-asteroid:hover .hover-detail,
#manage-crews #active-base:hover .hover-detail {
  display: unset;
}
#manage-crews .crew-panel {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}
#manage-crews .crew-panel button:not(.no-margin) {
  margin-left: 20px;
}

#plan-actions #action-setup {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

#manage-actions #action-groups {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px;
}
#manage-actions #action-groups .action-group .action-group-title {
  font-weight: bold;
  line-height: 60px;
  padding-left: 40px;
}
#manage-actions #action-groups .action-group:hover .action-group-title {
  color: white;
}

ul.list-expanding-items {
  background-color: rgba(0, 0, 0, 0.5);
}
ul.list-expanding-items.list-expanded li,
ul.list-expanding-items.list-expanded li:hover {
  height: unset;
  max-height: unset;
}
ul.list-expanding-items.hide-action-types .action-type-text {
  display: none;
}
ul.list-expanding-items li {
  padding-left: 0;
}
ul.list-expanding-items li .item-title {
  gap: 5px;
}
ul.list-expanding-items li .item-title .icon-round {
  margin-left: 5px;
  min-width: 30px;
}
ul.list-expanding-items li .item-title .icon-round:hover {
  background-color: transparent;
}
ul.list-expanding-items li .item-title .item-title-text {
  --max-lines: 2;
  display: -webkit-box;
  line-height: 1.2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
ul.list-expanding-items li .item-title .timer-compact {
  flex-grow: 1;
  padding-left: 5px;
  text-align: right;
}
ul.list-expanding-items li .item-expand {
  color: var(--color-gray-dark);
  height: calc(2.5 * var(--list-item-height));
  line-height: 1.25;
  padding-top: 10px;
  position: relative;
}
ul.list-expanding-items li .item-expand .action-details {
  --color-leaderline-start: var(--color-gray-dark);
  --color-leaderline-end: var(--color-gray-dark);
}
ul.list-expanding-items li .item-expand .action-details .value {
  margin-left: 30px;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
}
ul.list-expanding-items li .item-expand .action-details .value.value-destination {
  margin-left: 33px;
  padding-left: 7px;
}
ul.list-expanding-items li .item-expand .action-details .leader-line {
  left: 0 !important;
  top: 15px !important;
}
ul.list-expanding-items li .item-expand .subactions {
  align-items: center;
  bottom: 10px;
  display: flex;
  gap: 10px;
  height: var(--list-item-height);
  justify-content: space-between;
  left: 10px;
  position: absolute;
  right: 0;
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell {
  align-items: center;
  display: flex;
  gap: 10px;
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell .arrows {
  display: flex;
  position: relative;
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell .arrows :hover {
  filter: drop-shadow(0 0 10px black);
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell .arrows:not(:hover) .hover-arrow {
  display: none;
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell .arrows .hover-arrow {
  --hover-arrow-background-color: rgb(20, 20, 20);
  background-color: var(--hover-arrow-background-color);
  position: absolute;
  top: -100%;
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell .arrows .hover-arrow::before {
  align-items: center;
  background-color: var(--hover-arrow-background-color) !important;
  border: 1px solid transparent;
  border-color: inherit;
  bottom: 0;
  color: white;
  display: flex;
  left: 39px;
  padding: 0 10px;
  position: absolute;
  top: 0;
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell .arrows .hover-arrow.hover-arrow-move-to-top:hover::before {
  content: "Move to top";
}
ul.list-expanding-items li .item-expand .subactions .subactions-cell .arrows .hover-arrow.hover-arrow-move-to-bottom:hover::before {
  content: "Move to bottom";
}
ul.list-expanding-items li .item-expand .subactions .icon-button {
  border-color: var(--color-gray-dark);
}
ul.list-expanding-items li .item-expand .subactions .icon-button:active, ul.list-expanding-items li .item-expand .subactions .icon-button::after {
  background-color: var(--color-gray-dark);
}
ul.list-expanding-items li:hover {
  height: calc(3.5 * var(--list-item-height));
  max-height: calc(3.5 * var(--list-item-height));
}
ul.list-expanding-items li:hover .item-title {
  background-image: linear-gradient(90deg, var(--color-highlight), transparent);
  color: white !important;
}
ul.list-expanding-items li:hover .item-title .icon-round::after {
  background-color: white !important;
}
ul.list-expanding-items li:hover .item-expand {
  color: inherit;
}
ul.list-expanding-items li:hover .item-expand .action-details {
  --color-leaderline-start: var(--color-warning);
  --color-leaderline-end: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .subactions {
  color: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .subactions .icon-button {
  border-color: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .subactions .icon-button:active, ul.list-expanding-items li:hover .item-expand .subactions .icon-button::after {
  background-color: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .subactions .icon-button:hover {
  background-image: linear-gradient(120deg, var(--color-highlight-faded-10), var(--color-highlight-faded-25));
}
ul.list-expanding-items li.ready .item-title {
  color: var(--color-ready);
}
ul.list-expanding-items li.ready .item-title .icon-round::after {
  background-color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-title {
  background-image: linear-gradient(90deg, var(--color-ready), transparent);
}
ul.list-expanding-items li.ready:hover .item-expand .action-details {
  --color-leaderline-start: var(--color-warning);
  --color-leaderline-end: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .subactions {
  color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .subactions .icon-button {
  border-color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .subactions .icon-button:active, ul.list-expanding-items li.ready:hover .item-expand .subactions .icon-button::after {
  background-color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .subactions .icon-button:hover {
  background-image: linear-gradient(120deg, var(--color-ready-faded-10), var(--color-ready-faded-25));
}
ul.list-expanding-items li.animating {
  height: var(--this-height) !important;
  position: relative;
  transition-duration: var(--half-slide-duration);
}
@-webkit-keyframes fade-background {
  100% {
    background-color: transparent;
    border-color: transparent;
  }
}
@keyframes fade-background {
  100% {
    background-color: transparent;
    border-color: transparent;
  }
}
ul.list-expanding-items li.animating.fade-background {
  -webkit-animation: fade-background var(--half-slide-duration) linear;
          animation: fade-background var(--half-slide-duration) linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fade-out {
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
ul.list-expanding-items li.animating.fade-out {
  -webkit-animation: fade-out var(--half-slide-duration) linear;
          animation: fade-out var(--half-slide-duration) linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
ul.list-expanding-items li.animating.slide-up {
  height: 0 !important;
}
ul.list-expanding-items li.animating .slider {
  left: 0;
  padding: inherit;
  position: absolute;
  width: var(--this-width);
}
@-webkit-keyframes slide-right {
  100% {
    left: var(--this-width);
  }
}
@keyframes slide-right {
  100% {
    left: var(--this-width);
  }
}
ul.list-expanding-items li.animating .slider.slide-right {
  -webkit-animation: slide-right var(--half-slide-duration) linear;
          animation: slide-right var(--half-slide-duration) linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
ul.list-expanding-items li.transition-flash {
  -webkit-animation: transition-flash var(--transition-flash-duration) linear;
          animation: transition-flash var(--transition-flash-duration) linear;
}
@-webkit-keyframes transition-flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
@keyframes transition-flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
ul.list-expanding-items li.transition-flash .item-title {
  background-image: linear-gradient(90deg, var(--color-highlight), transparent);
  color: white !important;
}
ul.list-expanding-items li.transition-flash .item-title .icon-round::after {
  background-color: white !important;
}
ul.list-expanding-items li.transition-flash .item-expand {
  color: inherit;
}
ul.list-expanding-items li.transition-flash .item-expand .action-details {
  --color-leaderline-start: var(--color-warning);
  --color-leaderline-end: var(--color-highlight);
}
ul.list-expanding-items li.transition-flash .item-expand .subactions {
  color: var(--color-highlight);
}
ul.list-expanding-items li.transition-flash .item-expand .subactions .icon-button {
  border-color: var(--color-highlight);
}
ul.list-expanding-items li.transition-flash .item-expand .subactions .icon-button:active, ul.list-expanding-items li.transition-flash .item-expand .subactions .icon-button::after {
  background-color: var(--color-highlight);
}
ul.list-expanding-items li.transition-flash .item-expand .subactions .icon-button:hover {
  background-image: linear-gradient(120deg, var(--color-highlight-faded-10), var(--color-highlight-faded-25));
}/*# sourceMappingURL=style.css.map */