:root {
    --color-ready: rgb(54, 205, 54);
    --color-ready-faded-10: rgba(54, 205, 54, 0.1);
    --color-ready-faded-25: rgba(54, 205, 54, 0.25);
}

body {
    background-color: rgba(0, 0, 0, 0.95);

    &.embed {
        // Used for embedding via iframe - e.g. transparent background
        background-color: unset;
    }
}

// Custom icons

@mixin customIcon($iconFilename) {
    mask-image: url('./assets/images/' + $iconFilename);
    -webkit-mask-image: url('./assets/images/' + $iconFilename);
}

.icon-construct::after { @include customIcon('icon-construct.png'); }
.icon-core-sample::after { @include customIcon('icon-core-sample.png'); }
.icon-deconstruct::after { @include customIcon('icon-deconstruct.png'); }

@keyframes pulse-highlight-text {
	0% { color: var(--color-gray-light); };
    50% { color: var(--color-highlight); };
}

.highlight-text-pulse {
    color: var(--color-highlight);
	animation: pulse-highlight-text 1.5s infinite;
}

.root-section {
    // Margin between the root-level sections and the in-game scrollbar
    margin-right: 20px;
}

#plan-actions {
    #action-buttons {
        display: flex;
        gap: 25px;
        margin-top: 25px;
    }
}

#manage-actions {
    margin-top: 50px;
    position: relative;

    #toggle-compact-lists-label {
        line-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #action-groups {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        .action-group {
            .action-group-title {
                font-weight: bold;
                line-height: 60px;
                padding-left: 40px;
            }

            &:hover .action-group-title {
                color: white;
            }
        }
    }
}

ul.list-expanding-items {
    background-color: rgba(0, 0, 0, 0.5);

    &.list-expanded {
        li,
        li:hover {
            height: unset;
            max-height: unset;
        }
    }

    li {
        padding-left: 0;

        .item-title {
            gap: 5px;

            .icon-round {
                margin-left: 5px;
                min-width: 30px; // required for long titles

                &:hover {
                    background-color: transparent;
                }
            }

            .item-title-text {
                --max-lines: 2;
                display: -webkit-box;
                line-height: 1.25; // minimum value to avoid single-line texts being truncated vertically
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: var(--max-lines);
            }
        }

        .item-expand {
            color: var(--color-gray-dark);
            // Height of "li:hover" minus height of ".item-title"
            height: calc(2.5 * var(--list-item-height));
            line-height: 1.25;
            padding-top: 5px;
            position: relative;

            .action-details {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: start;

                .prefix {
                    min-width: 40px;
                    opacity: 0.5;
                    padding: 0 10px;
                    text-align: right;
                }
            }

            .action-status {
                align-items: center;
                bottom: 10px;
                display: flex;
                gap: 10px;
                height: var(--list-item-height);
                justify-content: flex-end;
                position: absolute;
                width: 100%;

                .icon-button {
                    border-color: var(--color-gray-dark);

                    &:active,
                    &::after {
                        background-color: var(--color-gray-dark);
                    }
                }
            }
        }

        &:hover {
            height: calc(3.5 * var(--list-item-height));
            max-height: calc(3.5 * var(--list-item-height));

            .item-title {
                background-image: linear-gradient(90deg, var(--color-highlight), transparent);
                color: white !important;

                .icon-round::after {
                    background-color: white !important;
                }
            }

            .item-expand {
                color: inherit;

                .action-status {
                    color: var(--color-highlight);

                    .icon-button {
                        border-color: var(--color-highlight);

                        &:active,
                        &::after {
                            background-color: var(--color-highlight);
                        }

                        &:hover {
                            background-image: linear-gradient(120deg, var(--color-highlight-faded-10), var(--color-highlight-faded-25));
                        }
                    }
                }
            }
        }

        // Action ready
        &.action.ready {
            .item-title {
                color: var(--color-ready);
            }

            .item-title .icon-round::after {
                background-color: var(--color-ready);
            }

            &:hover {
                .item-title {
                    background-image: linear-gradient(90deg, var(--color-ready), transparent);
                }

                .item-expand .action-status {
                    color: var(--color-ready);

                    .icon-button {
                        border-color: var(--color-ready);

                        &:active,
                        &::after {
                            background-color: var(--color-ready);
                        }

                        &:hover {
                            background-image: linear-gradient(120deg, var(--color-ready-faded-10), var(--color-ready-faded-25));
                        }
                    }
                }
            }
        }
    }
}
