:root {
  --color-ready: rgb(54, 205, 54);
  --color-ready-faded-10: rgba(54, 205, 54, 0.1);
  --color-ready-faded-25: rgba(54, 205, 54, 0.25);
}

body {
  background-color: rgba(0, 0, 0, 0.95);
}
body.embed {
  background-color: unset;
}

.icon-construct::after {
  mask-image: url("./assets/images/icon-construct.png");
  -webkit-mask-image: url("./assets/images/icon-construct.png");
}

.icon-core-sample::after {
  mask-image: url("./assets/images/icon-core-sample.png");
  -webkit-mask-image: url("./assets/images/icon-core-sample.png");
}

.icon-deconstruct::after {
  mask-image: url("./assets/images/icon-deconstruct.png");
  -webkit-mask-image: url("./assets/images/icon-deconstruct.png");
}

.icon-x::after {
  mask-image: url("./assets/images/icon-x.svg");
  -webkit-mask-image: url("./assets/images/icon-x.svg");
}

@-webkit-keyframes pulse-text {
  50% {
    color: var(--color-gray-dark);
  }
}

@keyframes pulse-text {
  50% {
    color: var(--color-gray-dark);
  }
}
.text-pulse {
  -webkit-animation: pulse-text 1.5s infinite;
          animation: pulse-text 1.5s infinite;
}

.root-section {
  margin-right: 20px;
}

#plan-actions #action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}
#plan-actions #action-buttons button {
  align-items: center;
  display: flex;
  gap: 5px;
  white-space: nowrap;
}
#plan-actions #action-buttons button .icon-round {
  transition: inherit;
}
#plan-actions #action-buttons button .icon-round::after {
  background-color: var(--color-highlight);
  transition: inherit;
}
#plan-actions #action-buttons button:hover .icon-round {
  background-color: transparent;
}
#plan-actions #action-buttons button:hover .icon-round::after {
  background-color: white;
}

#manage-actions {
  margin-top: 50px;
  position: relative;
}
#manage-actions .toggles {
  display: flex;
  gap: 25px;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
#manage-actions #action-groups {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px;
}
#manage-actions #action-groups .action-group .action-group-title {
  font-weight: bold;
  line-height: 60px;
  padding-left: 40px;
}
#manage-actions #action-groups .action-group:hover .action-group-title {
  color: white;
}

ul.list-expanding-items {
  background-color: rgba(0, 0, 0, 0.5);
}
ul.list-expanding-items.list-expanded li,
ul.list-expanding-items.list-expanded li:hover {
  height: unset;
  max-height: unset;
}
ul.list-expanding-items.hide-action-types .action-type-text {
  display: none;
}
ul.list-expanding-items li {
  padding-left: 0;
}
ul.list-expanding-items li .item-title {
  gap: 5px;
}
ul.list-expanding-items li .item-title .icon-round {
  margin-left: 5px;
  min-width: 30px;
}
ul.list-expanding-items li .item-title .icon-round:hover {
  background-color: transparent;
}
ul.list-expanding-items li .item-title .item-title-text {
  --max-lines: 2;
  display: -webkit-box;
  line-height: 1.25;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
ul.list-expanding-items li .item-title .timer-compact {
  flex-grow: 1;
  padding-left: 5px;
  text-align: right;
}
ul.list-expanding-items li .item-expand {
  color: var(--color-gray-dark);
  height: calc(2.5 * var(--list-item-height));
  line-height: 1.25;
  padding-top: 10px;
  position: relative;
}
ul.list-expanding-items li .item-expand .action-details {
  --color-leaderline-start: var(--color-gray-dark);
  --color-leaderline-end: var(--color-gray-dark);
}
ul.list-expanding-items li .item-expand .action-details .value {
  margin-left: 30px;
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
}
ul.list-expanding-items li .item-expand .action-details .value.value-destination {
  margin-left: 33px;
  padding-left: 7px;
}
ul.list-expanding-items li .item-expand .action-details .leader-line {
  left: 0 !important;
  top: 15px !important;
}
ul.list-expanding-items li .item-expand .action-status {
  align-items: center;
  bottom: 10px;
  display: flex;
  gap: 10px;
  height: var(--list-item-height);
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}
ul.list-expanding-items li .item-expand .action-status .icon-button {
  border-color: var(--color-gray-dark);
}
ul.list-expanding-items li .item-expand .action-status .icon-button:active, ul.list-expanding-items li .item-expand .action-status .icon-button::after {
  background-color: var(--color-gray-dark);
}
ul.list-expanding-items li:hover {
  height: calc(3.5 * var(--list-item-height));
  max-height: calc(3.5 * var(--list-item-height));
}
ul.list-expanding-items li:hover .item-title {
  background-image: linear-gradient(90deg, var(--color-highlight), transparent);
  color: white !important;
}
ul.list-expanding-items li:hover .item-title .icon-round::after {
  background-color: white !important;
}
ul.list-expanding-items li:hover .item-expand {
  color: inherit;
}
ul.list-expanding-items li:hover .item-expand .action-details {
  --color-leaderline-start: var(--color-warning);
  --color-leaderline-end: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .action-status {
  color: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .action-status .icon-button {
  border-color: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .action-status .icon-button:active, ul.list-expanding-items li:hover .item-expand .action-status .icon-button::after {
  background-color: var(--color-highlight);
}
ul.list-expanding-items li:hover .item-expand .action-status .icon-button:hover {
  background-image: linear-gradient(120deg, var(--color-highlight-faded-10), var(--color-highlight-faded-25));
}
ul.list-expanding-items li.ready .item-title {
  color: var(--color-ready);
}
ul.list-expanding-items li.ready .item-title .icon-round::after {
  background-color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-title {
  background-image: linear-gradient(90deg, var(--color-ready), transparent);
}
ul.list-expanding-items li.ready:hover .item-expand .action-details {
  --color-leaderline-start: var(--color-warning);
  --color-leaderline-end: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .action-status {
  color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .action-status .icon-button {
  border-color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .action-status .icon-button:active, ul.list-expanding-items li.ready:hover .item-expand .action-status .icon-button::after {
  background-color: var(--color-ready);
}
ul.list-expanding-items li.ready:hover .item-expand .action-status .icon-button:hover {
  background-image: linear-gradient(120deg, var(--color-ready-faded-10), var(--color-ready-faded-25));
}
ul.list-expanding-items li.sliding {
  height: var(--this-height) !important;
  position: relative;
  transition-duration: var(--half-slide-duration);
}
@-webkit-keyframes fade-background {
  100% {
    background-color: transparent;
    border-color: transparent;
  }
}
@keyframes fade-background {
  100% {
    background-color: transparent;
    border-color: transparent;
  }
}
ul.list-expanding-items li.sliding.fade-background {
  -webkit-animation: fade-background var(--half-slide-duration) linear;
          animation: fade-background var(--half-slide-duration) linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
ul.list-expanding-items li.sliding.slide-up {
  height: 0 !important;
}
ul.list-expanding-items li.sliding .slider {
  left: 0;
  padding: inherit;
  position: absolute;
  width: var(--this-width);
}
@-webkit-keyframes slide-right {
  100% {
    left: var(--this-width);
  }
}
@keyframes slide-right {
  100% {
    left: var(--this-width);
  }
}
ul.list-expanding-items li.sliding .slider.slide-right {
  -webkit-animation: slide-right var(--half-slide-duration) linear;
          animation: slide-right var(--half-slide-duration) linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}/*# sourceMappingURL=style.css.map */